<!-- Portfolio Grid Section -->
    <section id="aboutme" class="bg-light-gray">
        <div class="container">
                <div class="section-title" style="margin-left: 80px;">
                  <h2>About Me</h2>
                </div>
        
                <div class="row">
                  <div class="col-lg-4" data-aos="fade-right">
                    <img class="img-circle img-responsive" src="img/about/증명사진.png" alt="">
                  </div>
                  <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Profile</h3>
                    <p id="font1"></p>
                    <p id="font1">
                      끊임없이 노력하여 성공하는 개발자가 되고 싶습니다.<br/>
                      어느 곳에 가서도 천천히 스며드는 사람이 되겠습니다.<br/>
                      중간에 포기하지 않고 끝까지 같이 갈 수 있는 개발자가 되겠습니다.
                    </p>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="icofont-rounded-right"></i> <strong>Full Name:</strong> 이호제</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 010-3446-7158</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> lhje50145@gmail.com</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Address:</strong> 대전광역시 서구도마동 49-17 </li>
                        </ul>
                      </div>
                
                    </div>
                  </div>
                </div>
              </div>
    </section>
