<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">학력&활동&보유자격증</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="color: black;">
                                    <br>학력
                                    <br></h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/신평고.webp" alt="" style="height: 100%; width:100%; border-radius: 50%;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2016</h4>
                                    <h4 class="subheading">신평고등학교</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2016-02 고등학교 졸업</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/배재대.svg" alt="" style="height: 100%; width:100%; border-radius: 50%;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2023</h4>
                                    <h4 class="subheading">배재대학교 호텔항공경영학과</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2023-02 배재대학교 졸업 <br> 호텔과 관광 관련 전공을 공부하며 서비스와 커뮤니케이션, 호텔과 관광에 대한 경영에 대하여 학습하고 SW융합전공을 통하여 개발자에 길에 들어설 수 있었습니다.
                                        <br> R을 사용한 관광객 분석, 산업연관 분석 등을 진행하여 개발자 뿐만아니라 데이터 분석가에 대한 꿈도 가지게 되었습니다.
                                        <br> 2023-03~2023-07 배재대학교 괸광축제한류대학원 중퇴하였습니다.</p>
                                </div>
                            </div>
                        </li>
                        </ul>
                        <ul class="timeline">
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4 style="color: black;">
                                        <br>활동
                                        <br></h4>
                                </div>
                            </li>
                            <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023 배재대학교 관광축제한류 대학원</h4>
                                    <h4 class="subheading">2023-03~2023-07 대학원 프로젝트 수행</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">학부생 시절에 진행한 R을 활용한 대만관광객 분석, R을 활용한 대전관광 산업연관분석을 Python으로 재진행하며 특정지역에 제한을 두지 않으며 프로젝트를 진행하였습니다.
                                        <br> 머신러닝 관련 프로젝트를 시행하여 머신러닝 특강자료를 제작하였습니다.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/교육원.png" alt="" style="height: 100%; width:100%; border-radius: 50%;">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023 미래융합교육원</h4>
                                    <h4 class="subheading">[계룡건설] 빅데이터 기반 Green Tech SW 개발자 과정 수강</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">이 과정에서 JAVA, JAVASCRIPT, Machine Learning(ML), Deep Learning,
                                        <br>  ORACLE, STS, CSS, JS, SerVer 등에 대한 기술을 습득하였습니다.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>자격증
                                    <br></h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>IT 관련 보유 자격증</h4>
                                   
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">* ADSP
                                                        <!-- <br> * 컴퓨터활용능력2급(필기 1급)
                                                        <br> * SQLD -->
                                    </p>
                                </div>
                            </div>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
    </section>