<!-- Team Section -->
    <section id="myskills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Skills</h2>
                    <h3 class="section-subheading text-muted">현재까지 배우고 사용해본 기술역량</h3>
                </div>
            </div>
         
                    <!--언어-->
                    <div class="row"  style ="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
                      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <h4 class="title"><a href="">Language</a></h4>
                        <p class="description">
                          JAVA<br/>
                          C#<br/>
                          Python<br/>
                          SQL<br/>
                          Apex<br/>
                        </p>
                      </div>
                      <!--프론트엔드-->
                      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <h4 class="title"><a href="">FrontEnd</a></h4>
                        <p class="description">
                          HTML5<br/>
                          CSS<br/>
                          JavaScript(jquery)<br/>
                          BootStrap<br/>
                          ChartJS

                        </p>
                      </div>
                      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <h4 class="title"><a href="">BackEnd</a></h4>
                        <p class="description">
                          Spring<br/>
                          JSP
                          
                        </p>
                      </div>
                      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <h4 class="title"><a href="">DataBase(DB)</a></h4>
                        <p class="description">
                          MariaDB<br/>
                          Oracle<br/>
                          MsSql<br/>
                          MyBatis
                        </p>
                      </div>

                      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <h4 class="title"><a href="">Tool</a></h4>
                        <p class="description">
                          Eclipse<br/>
                          STS(Spring-tool-suite)<br/>
                          Visual Studio<br/>
                          Visual Studio Code<br/>
                          Git<br/>
                          Github
                         
                        </p>
                      </div>
                    </div>
            
                  
                </section><!-- End Services Section -->
            </div>

        </div>
    </section>