<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
                <div class="section-title">
                  <h2>About Me</h2>
                </div>
        
                <div class="row">
                  <div class="col-lg-4" data-aos="fade-right">
                    <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Salesforce Developer</h3>
                    <p id="font1">세일즈포스 경력 개발자 배형준입니다.</p>
                    <p id="font1">
                      끊임없이 노력하여 성공하는 개발자가 되고 싶습니다.<br/>
                      어느 곳에 가서도 천천히 스며드는 사람이 되겠습니다.<br/>
                      중간에 포기하지 않고 끝까지 같이 갈 수 있는 개발자가 되겠습니다.
                    </p>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="icofont-rounded-right"></i> <strong>Full Name:</strong> 배 형 준</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 010-2636-0764</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> piskk74@naver.com</li><br/>
                          <li><i class="icofont-rounded-right"></i> <strong>Address:</strong> 서울특별시 송파구 성내천로 49길2</li>
                        </ul>
                      </div>
                
                    </div>
                  </div>
                </div>
              </div>
    </section>
