<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Project</h2>
                    <h3 class="section-subheading text-muted">현재까지 진행한 프로젝트</h3>
                </div>
            </div>

                <!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->



                <div class="row" style ="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
                <!--팀프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="portfolio-links">
                    <a href="http://lms-y.kro.kr/lms/login" target="_blank"><img src="assets/img/portfolio-1.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="https://github.com/goodee-project/LMS-Y" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p> 
                    <h4>개인 프로젝트 - Game Machng</h4>										
                    <hr>
                        <p>프로젝트 기간 : 2020.12 ~ 2021.1(6주)</p>
                    <hr>
                        <p>프로젝트 방식 : Spring MVC</p>
                        <p>프로젝트 도구 : Eclipse, Spring, ORACLE, bootstrap, ChartJS, API(Riot API)</p>
                        <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), MyBatis</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        Spring Framework를 사용하여 처음으로 진행한 프로젝트입니다. 이 프로젝트 League of Legends게임에 RANK게임을 듀오로
                        할 수 있는 시스템이 있는데 이 듀오를 구할 수 있는 사이트를 구축하고 본인에 게임실력(Rank Tier, Position)에 맞게 
                        Riot Api를 사용하여 사용자의 Rank정보와 그에 맞는 듀오를 원하는 다른 유저들을 매칭해주어, 채팅방을 개설하거나 메세지를 
                        주고 받을 수 있고 음성커뮤니티로 연동도 해주는 프로그램을 만드는 것입니다.
                        이를 위해 유저에 정보를 이 사이트를 로그인 할 때 게임 닉네임을 입력하도록 하여 그 게임 닉네임으로 RiotApi를
                        이용 하여 Rank정보를 가져와 사용자와 타사용자에 정보로 매칭해줍니다.
                    </p>
                </div>
                </div>
                <!--가계부 개인프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-links">
                    <a href="http://baebae98.kro.kr/cash/" target="_blank"><img src="assets/img/portfolio-2.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="https://github.com/baebae98/cashbook" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p> 
                    <h4>개인 프로젝트 - 가계부</h4>							
                    <hr>
                    <p>프로젝트 기간 : 2020.11(2주)</p>
                    <hr>
                    <p>프로젝트 방식 : Spring MVC</p>
                    <p>사용 프로그램 : Eclipse, Spring-tool-suite, Mariadb, Github, Maven</p>
                    <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), MyBatis, JSTL, bootstrap</p>
                    <hr>
                    <p>
                    [프로젝트 설명]<br>
                    Spring Framework를 사용한 첫 프로젝트입니다.<br>
                    주요 기능으로는 캘린더 API를 이용한 달력으로 가계부를 구성하는 기능이 있으며
                    기본적인 기능인 로그인, 사용자 추가, 공지사항, 방명록 페이지 등이 존재합니다.<br>
                    부가적인 기능으로는 poi라이브러리를 이용한 통계용 엑셀파일을 생성할 수 있으며
                    ajax로 비동기 요청을 통해 얻은 결과를 chart.js api를 이용하여
                    차트형식으로 통계를 출력해주는 기능이 존재합니다.
                    </p>
                    </div>
                </div>
                <!--sakila 개인프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="portfolio-links">
                    <a href="http://baebae98.kro.kr/sakila/LoginServlet" target="_blank"><img src="assets/img/portfolio-3.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="https://github.com/baebae98/sakila" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p>  
                    <h4>개인 프로젝트 - 비디오 대여점</h4>						
                    <hr>
                        <p>프로젝트 기간 : 2020.10(1주)</p>
                    <hr>
                        <p>프로젝트 방식 : Model 2</p>
                        <p>사용 프로그램 : Eclipse, Mariadb, Github</p>
                        <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        mySql의 샘플 데이터베이스 Sakila 데이터베이스와 Model2 기법으로 제작한 비디오 대여점 프로젝트입니다.<br>
                        비디오 대여점을 관리하는 프로그램으로써 주 기능으로는 비디오 대여, 반납, 관리와 회원, 출연 배우 관리등이 존재하며<br>
                        Model1과는 다르게 모델,컨트롤러,뷰 를 나누어서 작업이 진행되었으며 처음으로 필터와 리스너 기능을 사용한 프로젝트이기도 합니다.
                    </div>
                </div>
                    <!--mall-->
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="portfolio-links">
                    <a href="http://baebae98.kro.kr/mall/" target="_blank"><img src="assets/img/portfolio-4.PNG" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="https://github.com/baebae98/mall" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p>  
                    <h4>개인 프로젝트 - 쇼핑몰</h4>						
                    <hr>
                    <p>프로젝트 기간 : 2020.09(1주)</p>
                    <hr>
                    <p>프로젝트 방식 : Model 1</p>
                    <p>사용 프로그램 : Eclipse, Mariadb, Github</p>
                    <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
                    <hr>
                    <p>
                    [프로젝트 설명]<br>
                    Model1 방식으로 만든 쇼핑몰 프로젝트 입니다.<br>
                    일반 쇼핑몰 페이지처럼 로그인, 회원가입, 마이페이지, 장바구니, 개인정보 수정, 회원탈퇴등의 사용자 기능이 존재하며
                    사용자는 물건을 구매, 취소할 수 있는 전형적인 쇼핑몰 페이지 입니다.
                    </p>
                    </div>
                </div>
                    <!--mall admin-->
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="portfolio-links">
                    <a href="http://baebae98.kro.kr/mall-admin/" target="_blank"><img src="assets/img/portfolio-5.png" class="img-fluid" alt=""></a>
                    <p>
                        <h4>
                        <a class="portfolio-links" href="https://github.com/baebae98/mall-admin" target="_blank">
                            [Github Link]
                        </a>
                        </h4>
                    </p>  
                    <h4>개인 프로젝트 - 쇼핑몰 관리자</h4>					
                    <hr>
                        <p>프로젝트 기간 : 2020.09(1주)</p>
                    <hr>
                        <p>프로젝트 방식 : Model 1</p>
                        <p>프로젝트 도구 : Eclipse, Mariadb, Github</p>
                        <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, JSTL, bootstrap</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        Model1 방식으로 제작한 첫 프로젝트인 쇼핑몰 관리 페이지 입니다.<br>
                        이후 제작한 쇼핑몰 페이지를 관리하는 관리자 페이지로써, 
                        회원 관리, 카테고리 관리, 상품 관리, 주문내역 관리, 공지사항 관리등의 작업을 할 수 있습니다.
                    </p>
                    </div>
                    </div>
                    <!--employees 개인프로젝트-->
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
                    <div class="portfolio-links">
                    <a href="http://baebae98.kro.kr/employees/" target="_blank"><img src="assets/img/portfolio-6.png" class="img-fluid" alt=""></a>
                    <p>
                        <h4>
                        <a class="portfolio-links" href="https://github.com/baebae98/employees" target="_blank">
                            [Github Link]
                        </a>
                        </h4>
                    </p>  
                    <h4>개인 프로젝트 - Employees</h4>					
                    <hr>
                        <p>프로젝트 기간 : 2020.08(1주)</p>
                    <hr>
                        <p>프로젝트 방식 : JSP</p>
                        <p>프로젝트 도구 : Eclipse, Mariadb</p>
                        <p>사용 언어 : Html, Java, SQL, bootstrap</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        JAVA와 JSP를 배우면서 처음으로 제작한 프로젝트입니다.<br>
                        회사내 직원, 부서, 급여 등의 정보들을 조회하거나 검색할 수 있습니다.
                    </p>
                    </div>
                    </div>
                </div>

            </div>
            </section>
    <!-- End Portfolio Section -->
            </div>
        </div>
    </section>