<!-- Services Section -->
    <section id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Project</h2>
                    <h3 class="section-subheading text-muted">현재까지 진행한 프로젝트</h3>
                </div>
            </div>

                <!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->



                <div class="row" style ="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
                <!--lol프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="portfolio-links">
                    <a href="" target="_blank"><img src="assets/img/portfolio-1.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="" target="_blank">
                        [View]
                        </a>
                    </h4>
                    </p> 
                    <h4>개인 프로젝트 - Game Matching</h4>										
                    <hr>
                        <p>프로젝트 기간 : 2023.08 ~ 2023.09(1달)</p>
                    <hr>
                        <p>프로젝트 방식 : Spring MVC</p>
                        <p>프로젝트 도구 : Eclipse, Spring, ORACLE, bootstrap, ChartJS, API(Riot API)</p>
                        <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), MyBatis</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        Spring Framework를 사용하여 처음으로 진행한 프로젝트입니다. <br>
                        이 프로젝트 League of Legends게임에 RANK게임을 듀오로 할 수 있는 시스템이 있는데 이 듀오를 구할 수 있는 사이트를 구축하고 
                        본인에 게임실력(Rank Tier, Position)에 맞게 
                        Riot Api를 사용하여 사용자의 Rank정보와 그에 맞는 듀오를 원하는 다른 유저들을 매칭해주어, 채팅방을 개설하거나 메세지를 
                        주고 받을 수 있고 음성커뮤니티로 연동도 해주는 프로그램을 만드는 것입니다. <br>
                        이를 위해 유저에 정보를 이 사이트를 로그인 할 때 게임 닉네임을 입력하도록 하여 그 게임 닉네임으로 RiotApi를
                        이용 하여 Rank정보를 가져와 사용자와 타사용자에 정보로 매칭해줍니다.
                    </p>
                </div>
                </div>
                <!--관광 추천 프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-links">
                    <a href="" target="_blank"><img src="assets/img/portfolio-2.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p> 
                    <h4>개인 프로젝트 - 제주관광 추천 시스템</h4>							
                    <hr>
                    <p>프로젝트 기간 : 2023.09(한달)</p>
                    <hr>
                    <p>프로젝트 방식 : Python Flask</p>
                    <p>사용 프로그램 : Pycham, Oracle, Spring-tool-suite, Mariadb, Github, Maven</p>
                    <p>사용 언어 : Html, Java,Css, SQL, JavaScript(jquery),Python</p>
                    <hr>
                    <p>
                    [프로젝트 설명]<br>
                    Python Flask를 사용한 프로젝트입니다.<br>
                    주요 기능으로는 AI Hub에 있는 제주관광객 여행로그 데이터를 Python에서 의사결정나무로
                    제주 관광객에 설문조사(여행 목적, 선호 관광지, 구성원 수 차량 여부 등)를 통하여 그에
                    맞는 관광지 를 의사결정나무로 사용하여 모데를 생성하고 PythonFlask로 웹형태로 구현해줍니다.
                    </p>
                    </div>
                </div>
                <!--팀 프로젝트-->
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="portfolio-links">
                    <a href="" target="_blank"><img src="assets/img/portfolio-3.png" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p>  
                    <h4>팀 프로젝트 - 건물에너지 빅데이터를 활용한 사용자 맞춤형 전력 소비 예측 시스템</h4>						
                    <hr>
                        <p>프로젝트 기간 : 2023.11~2023.12.26(2달)</p>
                    <hr>
                        <p>프로젝트 방식 : Spring MVC</p>
                        <p>사용 프로그램 : STS, ORACLE, Pycham</p>
                        <p>사용 언어 : Html, Java, SQL, JavaScript(jquery), JDBC, bootstrap, ChartJS, Python, PythonFlask,Spring</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        AiHub에 대략 5천만개에 전라남도 전력량 데이터를 ORCLE을 사용하여 데이터를 Insert 후 데이터를 가공 및 전처리 하여 테이블을 정리하였습니다.<br>
                        그 후에 Python에서 간단한 데이터 통계 및 시각화 및 Machine Learning 를 사용하여 정확도를 측정하여 사용할 데이터와 사용가능한 모델을 정리하고 분류하였습니다.<br>
                        그 후에 STS에서 서버를 구축하여 팀원이 각 파트로 나눠서 기능(회원가입, 로그인, 게시판, 전력량 조회, 패턴분석 및 비교와 예측 ,탄소량 계산 등)을 구현하였습니다.<br>
                        마지막으로 deep learning과 신경망 모델을 사용하여 전처리 및 가공한 데이터로 전력량을 사용자에 맞게 예측할 수 있는 것을 최종 목표로
                    </div>
                </div>
                    <!--산업연관분석 팀 프로젝트-->
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="portfolio-links">
                    <a href="" target="_blank"><img src="assets/img/portfolio-4.PNG" class="img-fluid" alt=""></a>
                    <p>
                    <h4>
                        <a class="portfolio-links" href="" target="_blank">
                        [Github Link]
                        </a>
                    </h4>
                    </p>  
                    <h4>팀 프로젝트 - 산업연관분석</h4>						
                    <hr>
                    <p>프로젝트 기간 : 2021.07~2021.12(5달)</p>
                    <hr>
                    <p>프로젝트 방식 : R MarkDown</p>
                    <p>사용 프로그램 : Rstudio, GoogleColab</p>
                    <p>사용 언어 : R, MarkDown</p>
                    <hr>
                    <p>
                    [프로젝트 설명]<br>
                    한국은행에 산업연관표를 활용하여 교수님과 함께 진행한 2인 프로젝트 입니다.<br>
                    한국은행에 산업연관표를 활용하여 대전지역과 대전이외에 한국 지역(제주도 포함)으로 나누고
                    대전지역에 관광산업이 같은 대전지역에 여러산업과 다른지역에 산업에 어떠한 영향을 주는지
                    경제적파급효과, 부가가치 등을 분석하는 프로젝트로 R을 사용한 데이터 분석 및 데이터 통계에 
                    중점을 둔 프로젝트입니다.
                    </p>
                    </div>
                </div>
                    
                    <!--머신러닝특강 팀프로젝트-->
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
                    <div class="portfolio-links">
                    <a href="" target="_blank"><img src="assets/img/portfolio-6.png" class="img-fluid" alt=""></a>
                    <p>
                        <h4>
                        <a class="portfolio-links" href="" target="_blank">
                            [Github Link]
                        </a>
                        </h4>
                    </p>  
                    <h4>팀 프로젝트 - 관광업계 종사자 대상 머신러닝 특강</h4>					
                    <hr>
                        <p>프로젝트 기간 : 2023.05~2023.07(2달)</p>
                    <hr>
                        <p>프로젝트 방식 : GoogleColab</p>
                        <p>프로젝트 도구 : GoogleColab, GoogleDrive, Notion</p>
                        <p>사용 언어 : Html, Markdown, Python</p>
                    <hr>
                    <p>
                        [프로젝트 설명]<br>
                        대학교에서 교수님과 조교님과 함께 진행한 프로젝트입니다.<br>
                        관광업계 현업종사자를 대상으로한 Python을 활용한 머신러닝 특강을
                        위한 자료조사 및 자료 조사와 구축을 하였습니다.
                        그리고 조사한 자료가 실제로 구동되는지 실제 데이터를 사용하여 머신러닝을 구현하도록 하였습니다.<br>
                        이 때 사용한 머신러닝은 대략 7개로 회귀분석,의사결정나무,svm, 랜덤포레스트, 배깅, 군집분석 등이 있습니다.
                    </p>
                    </div>
                    </div>
                </div>

            </div>
            </section>
    <!-- End Portfolio Section -->
            </div>
        </div>
    </section>